# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\oleob\OneDrive - Universidad Pontificia Comillas\ICAI_4GITT\Sistemas Dist\Practica Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
